<body class="index-background">
    <% if user_signed_in?%>
    <h1 class="pb-3">
        <%= "Bem-vindo, #{current_user.name}!"%>
    </h1>
    <% @books.each do |book| %>
    <h2><%= link_to book.title, show_book_path(book) %></h2>
    <%end%>

    <%= link_to "Adicionar novo livro", new_book_path%>

    <%else%>
    <h1>
        Não é um usuário?<%=link_to "Cadastre-se aqui", new_user_registration_path%>
    </h1>
    <%end%>
</body>