.background_form{
    margin: 0;
    padding: 0;
    background: rgb(77, 106, 122);
    height: 100vh;
    overflow: hidden;
}

.container_form{
    text-align: center;
    h1{
        color: silver;
        padding-bottom: 20px;
    }
}
 