.background_form{
    margin: 0;
    padding: 0;
    background: rgb(77, 106, 122);
    height: 100vh;
    overflow: hidden;
}

.container_form{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 10px;

    h1{
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
        color: silver;
    }

    .center{
        padding: 5px 90px;
        box-sizing: border-box;
    }
}

.submit-form{

}